<div class="tab-pane fade text-muted" id="declaration-tab-pane" role="tabpanel" aria-labelledby="declaration-tab" tabindex="0">
    <div class="row">
        <div class="col-xl-12">
            <div class="card custom-card">
                <div class="card-body">
                    <div class="accordion accordion-secondary" id="accordionDeclarationExample">
                        <!-- Declaration Section -->
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="declaration_headingSecondaryOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#declaration_collapseSecondaryOne" aria-expanded="true" aria-controls="declaration_collapseSecondaryOne">
                                Declaration
                                </button>
                            </h2>
                            <div id="declaration_collapseSecondaryOne" class="accordion-collapse collapse show" aria-labelledby="declaration_headingSecondaryOne" data-bs-parent="#accordionDeclarationExample">
                                <div class="accordion-body">
                                    <!-- Content for Declaration -->
                                     
                                    <div class="container" style="color:black;">
                                        <h3 class="mb-3">DECLARATION</h3>
                                        <p>The following declaration statements are asked to candidates.</p>
                                        <p>The information in this application form is true and complete. I agree that any deliberate omission, falsification or misrepresentation in the application form will be grounds for rejecting this application or subsequent dismissal if employed by the Organisation. Where applicable, I consent that the Organisation can seek clarification regarding professional registration details.</p>                                                               
                                        <div class="form-check form-switch toggle-switch">
                                            <input class="form-check-input" type="checkbox" id="declarationSwitch">
                                            <label class="form-check-label" for="declarationSwitch">I agree to the above Declaration</label>
                                        </div>
                                        
                                        <div class="accordion mt-3" id="declarationAccordion">
                                            <div class="accordion-item">
                                                <h2 class="accordion-header">
                                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne">
                                                        Have you ever been convicted of a criminal offence?
                                                    </button>
                                                </h2>
                                                <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#declarationAccordion">
                                                    <div class="container mt-3">
                                                        <div class="row">
                                                            <div class="col-md-1">
                                                                <div class="form-check form-switch toggle-switch">
                                                                    <input class="form-check-input" type="checkbox" id="declarationSwitchYes">
                                                                    <label class="form-check-label" for="declarationSwitchYes">Yes</label>
                                                                </div>   
                                                            </div>
                                                            <div class="col-md-1">
                                                                <div class="form-check form-switch toggle-switch">
                                                                    <input class="form-check-input" type="checkbox" id="declarationSwitchNo">
                                                                    <label class="form-check-label" for="declarationSwitchNo">No</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row mt-3">
                                                            <div class="col-12">
                                                                <label for="convictionDetails" class="form-label">If Yes, please provide details:</label>
                                                                <input type="text" class="form-control" id="convictionDetails" placeholder="Enter details here...">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="accordion-item">
                                                <h2 class="accordion-header">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo">
                                                        Are you willing to undergo a full enhanced DBS check at a price of £55?
                                                    </button>
                                                </h2>
                                                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#declarationAccordion">
                                                    <div class="accordion-body" style="color:black;">
                                                        <p>DBS check is required for this role.</p>
                                                        <div class="container mt-3">
                                                            <div class="row">
                                                                <div class="col-md-1">
                                                                    <div class="form-check form-switch toggle-switch">
                                                                        <input class="form-check-input" type="checkbox" id="dbsCheckYes">
                                                                        <label class="form-check-label" for="dbsCheckYes">Yes</label>
                                                                    </div>   
                                                                </div>
                                                                <div class="col-md-1">
                                                                    <div class="form-check form-switch toggle-switch">
                                                                        <input class="form-check-input" type="checkbox" id="dbsCheckNo">
                                                                        <label class="form-check-label" for="dbsCheckNo">No</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <h2 class="accordion-header">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree">
                                                        Working Time Directives
                                                    </button>
                                                </h2>
                                                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#declarationAccordion">
                                                    <div class="accordion-body" style="color:black;">
                                                        <h5 class="fw-bold">Working Time Directives</h5>
                                                        <hr>
                                                        <p>
                                                            I understand that I am under no obligation to work more than an average of 48 hours in any week, including hours worked with any other company as well as our services. However, I may choose to work more than 48 hours per week if I wish.  
                                                        </p>
                                                        <p>
                                                            Under the terms of engagement, I acknowledge that I may decline any assignment at any time without reason or detriment. By signing this declaration, I confirm that any hours exceeding an average of 48 hours per week are worked by my choice. However, this declaration does not imply that I will work more than 48 hours every week.  
                                                        </p>
                                                        <p>
                                                            I undertake to inform my employer if my total working hours across all employment exceed 48 hours per week so that this can be considered before offering work to me.
                                                        </p>
                                                        <div class="form-check form-switch toggle-switch mt-3 ">
                                                            <input class="form-check-input" type="checkbox" id="workingTimeAgreement">
                                                            <label class="form-check-label" for="workingTimeAgreement">
                                                                I acknowledge and agree to the above Working Time Directive.
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <h2 class="accordion-header">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour">
                                                        Challenging Behaviour                                                                            </button>
                                                </h2>
                                                <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#declarationAccordion">
                                                    <div class="accordion-body" style="color:black;">
                                                        <h5 class="fw-bold">Challenging Behaviour</h5>
                                                        <hr>
                                                        <p>
                                                            When working in this Industry there are hazards associated with the Industry. I appreciate and accept that one of these hazards is possible aggressive behaviour from challenging service users.                                                                                </p>
                                                        <p>
                                                            Service users may present challenging and aggressive behaviour and this is out of control of us. I understand and accept that I am under no obligation as an agency worker to accept assignments. I accept that there is this risk and accept that this risk is a result of the Industry and not our services.                                                                                </p>
                                                        <p>
                                                            I understand if I am unhappy with any assignment I can withdraw my submission at any time with reasonable notice dictated in my contract for service, and as a result I will not hold our services liable for any injury or loss of earnings as an agency worker. I understand that if I am injured or affected in any other way whilst on an assignment that this is not my fault or of our services.
                                                        </p>
                                                        <div class="form-check form-switch toggle-switch mt-3 ">
                                                            <input class="form-check-input" type="checkbox" id="challengingBehaviour">
                                                            <label class="form-check-label" for="challengingBehaviour">
                                                                I understand and agree to the above entirely .
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <h2 class="accordion-header">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive">
                                                        Confidentiality Agreement                                                                        </h2>
                                                <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#declarationAccordion">
                                                    <div class="accordion-body" style="color:black;">
                                                        <h5 class="fw-bold">Confidentiality Agreement</h5>
                                                        <hr>
                                                        <p>
                                                            I can confirm that during every assignment and afterwards:- To hold information relating to the client in the strictest confidence, ensure that it is kept safely and securely when not in use. I acknowledge that no information is to be removed from the client's premises without permission of the client.
                                                        </p>
                                                      
                                                        <div class="form-check form-switch toggle-switch mt-3 ">
                                                            <input class="form-check-input" type="checkbox" id="confagreement">
                                                            <label class="form-check-label" for="confagreement">
                                                                I agree to the above Declaration                                                                                    </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <h2 class="accordion-header">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix">
                                                        Pension opt-out        </h2>
                                                <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#declarationAccordion">
                                                    <div class="accordion-body" style="color:black;">
                                                        <h5 class="fw-bold">Pension opt-out</h5>
                                                        <hr>
                                                        <p>
                                                            This is to confirm that I choose to: (please tick your answer) BE ENROLLED IN PENSION THE NEST PENSION SCHEME OPT OUT FOR PENSION ENROLMENT Name: Signed: Date: *Please note, we will automatically enrol you to our NEST Pension Scheme if we did not receive this form back after your qualifying period. Once enrolled, a percentage of your salary will be deducted for your pension contribution, this will be reflected on your payslips. Please visit NESTPENSIONS.ORG.UK for more information regarding pensions.
                                                        </p>
                                                      
                                                        <div class="form-check form-switch toggle-switch mt-3 ">
                                                            <input class="form-check-input" type="checkbox" id="pensionopt">
                                                            <label class="form-check-label" for="pensionopt">
                                                                I agree to the above Declaration                                                                                    </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <h2 class="accordion-header">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven">
                                                        Data Privacy Policy
                                                    </h2>
                                                <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#declarationAccordion">
                                                    <div class="accordion-body" style="color:black;">
                                                        <h5 class="fw-bold">Data Privacy Policy</h5>
                                                        <hr>
                                                        <p>
                                                            PERSONAL INFORMATION WE COLLECT Personal Information is information that identifies you as an individual which could also be considered sensitive personal information, such as: - Name - Date and Place of birth - Contact Details - Citizenship - Religion - Civil Status - Medical Information - and such other personally identifiable information In addition to your Personal Information, we will also maintain records of your educational background, employment application, history with the company, areas of expertise, details of salary and benefits, bank details, performance appraisals and salary reviews if applicable, working time records and other records pertinent to your continued employment. 
                                                        </p>
                                                        <p>
                                                            USE OF PERSONAL INFORMATION We use this information for a variety of personnel administration and employee, work and general business management purposes, including administration of payroll, improvement and providing and maintenance of the administration of employee benefits, facilitate the management of work and employees, operate performance and salary reviews, operating the company’s IT and communications systems, comply with record keeping and other legal obligations. The Company also processes information relating to your health which may amount to sensitive Personal Information. 
                                                        </p>
                                                        <p>
                                                            The particular information that the company holds relating to your health are the records of sickness absence, medical certificates and any other health and medical records. SECURITY These information shall be controlled by our administrative employees who can access it electronically. The Company has security measures in place which will ensure the confidentiality of the information. TO WHOM DO WE SHARE YOUR PERSONAL INFORMATION In compliance with this Data Privacy Policy, your Personal Information will be disclosed to third party service providers only in compliance with our contractual obligation. We will also disclose your Personal Information to comply with our legal obligations, including to various law enforcement agencies, regulatory authorities and governments in the United Kingdom and around the world and their service providers for security, customs and immigration purposes, upon their lawful request.
                                                        </p>  
                                                                                                                                      
                                                      
                                                        <div class="form-check form-switch toggle-switch mt-3 ">
                                                            <input class="form-check-input" type="checkbox" id="datapolicy">
                                                            <label class="form-check-label" for="datapolicy">
                                                                I agree to the above Declaration                                                                                   </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="col-xl-2">
                                            <br>
                                            <input type="submit" class="btn btn-primary" name="submit" value="Submit Declaration">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>